.bundle
.sass-cache
config/config.yml
content
current_article
current_article.yml
db/*.sqlite3
log/*.log
public/images/articles
public/stylesheets/application.css
rake
ruby/**/*
test/
tmp/**/*
vendor/**/*
