.chart#action_chart
- content_for(:javascript) do
  javascript:
    var actionCountByMonthCategories = [ #{@action_count_by_month.map{|k, v| "'#{k.strftime("%b \\'%y")}'"}.join(', ')} ];
    var actionCountByMonthData       = [ #{@action_count_by_month.map{|k, v| v}.join(', ')} ];
    var actionCountByMonthStep       = #{defined?(is_compact) && is_compact ? 2 : 1};

  coffee:
    $ ->
       chart = new Highcharts.Chart
          chart:
            renderTo: 'action_chart'
            defaultSeriesType: 'line'
          title:
            text: 'GitHub Actions by Month'
          xAxis:
            categories: actionCountByMonthCategories
            labels:
              rotation: -45
              align: 'right'
              step: actionCountByMonthStep
          yAxis:
            min: 0
            title:
              text: null
          tooltip:
            formatter: ->
              this.y + (if this.y != 1 then ' actions' else ' action') + ' in ' + this.x;
          series: [
            { name: 'Tweets', data: actionCountByMonthData }
          ]
