.chart#book_chart_by_num_pages
- content_for(:javascript) do
  javascript:
    var chart;
    $(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'book_chart_by_num_pages',
          defaultSeriesType: 'bar'
        },
        title: {
          text: 'Number of Pages Read by Year'
        },
        xAxis: {
          categories: [ #{@page_stats.map{ |s| s['year'] }.map{ |s| Time.new(s[0..4]) }.map{ |t| t.strftime("%Y") }.map{ |d| "'#{d}'" }.join(', ')} ],
          title: {
            text: null
          }
        },
        yAxis: {
          min: 0,
          title: {
            text: null
          }
        },
        tooltip: {
          formatter: function() {
            return this.y + (this.y != 1 ? ' pages read' : ' page read') + ' in ' + this.x;
          }
        },
        plotOptions: {
          bar: {
            dataLabels: {
              enabled: true
            }
          }
        },
        legend: {
          enabled: false
        },
        credits: {
          enabled: false
        },
        series: [{
          name: 'Pages read',
          data: [ #{@page_stats.map{ |s| s['num_pages'] }.join(', ')} ]
        }]
      });
    });
