.chart#facts_chart
- content_for(:javascript) do
  javascript:
    var factCountByDayCategories = [ #{@fact_count_by_day.map{|k, v| "'#{k.strftime('%b %e')}'"}.join(', ')} ];
    var factCountByDayData       = [ #{@fact_count_by_day.map{|k, v| v}.join(', ')} ];

  coffee:
    $ ->
      chart = new Highcharts.Chart
        chart:
          renderTo: 'facts_chart'
          defaultSeriesType: 'column'
        title:
          text: 'Facts Added in the Last 30 Days'
        xAxis:
          categories: factCountByDayCategories
          labels:
            rotation: -45
            align: 'right'
            step: 5
          title:
            text: null
        yAxis:
          min: 0
          title:
            text: null
        tooltip:
          formatter: ->
            this.y + (this.y != 1 ? ' facts added' : ' fact added') + ' on ' + this.x
        plotOptions:
          bar:
            dataLabels:
              enabled: true
        series: [
          { name: 'Facts added', data: factCountByDayData }
        ]
