/*
 * Home styling
 */

.box, .box_feature, .box_wide
  float: left

.box
  margin: 0 50px 0 0
  width: 350px

.box_feature
  margin: 0 70px 0 0
  width: 500px

.box_wide
  margin: 0 50px 0 0
  width: 520px

#boxes

  #articles

    ul
      margin: 0

  #books
    
    #book_chart
      height: 180px

  #github

    #action_chart
      height: 200px

    ul#actions

      .details

  #twitter

    #tweet_chart
      height: 200px
